<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mybatis.dao.OrderMapper">
	<!-- 属性对应的关系 -->
	<resultMap type="Order" id="orderResultMap">
		<id column="o_id" property="id" javaType="int" />
		<result column="o_dotime" property="dotime" javaType="Date" />
		<association property="user" javaType="User">
			<id property="id" column="u_id" />
			<result property="name" column="u_name" />
			<result property="pwd" column="u_pwd" />
			<result property="power" column="u_power" />
		</association>
	</resultMap>




	<select id="selectOrdersByuId" resultType="Order" parameterType="int">
		select id, dotime, account
		from
		t_order
		where u_id=#{id}
	</select>


	<select id="selectUserByoid" parameterType="int" resultMap="orderResultMap">
		select
		o.id as o_id,
		o.u_id as o_uid,
		o.dotime as o_dotime,
		o.account as
		o_account,
		user.id as u_id,
		user.name as u_name,
		user.pwd as u_pwd,
		user.power as u_power
		from
		t_order o ,t_user user
		where user.id=o.u_id
		and o.id=#{oid}
	</select>

	<insert id="insertOrder" parameterType="Order" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		t_order(u_id,dotime,account) values
		(#{user.id},#{dotime},#{account})
	</insert>
</mapper>